<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <div id="container">
        <h2 id="title">Naksha</h2>
        <p id="about">
            Naksha is an open source project,it is an attempt to replicate the functionality of google place recommender.Here I attempted to use user coordinates and display them near by places.This application uses geoLocation data of mongoDB which is basically
            polygon data that is used to find distance between the places and the nearest landmark from the user.This is how the whole arhictecture works, The user coordinates are mapped to nearest landmark,and thenn all the places associated to that
            landmark is served to the user.In addition to these the user can also add review and ratings to for different places and they can also add their own properties.PS Fuck Roopa MC!!.Now I am just writing some random shit to fill up the space:
            (1) नैनं छिद्रन्ति शस्त्राणि नैनं दहति पावक: । न चैनं क्लेदयन्त्यापो न शोषयति मारुत ॥ (द्वितीय अध्याय, श्लोक 23) इस श्लोक का अर्थ है: आत्मा को न शस्त्र काट सकते हैं, न आग उसे जला सकती है। न पानी उसे भिगो सकता है, न हवा उसे सुखा सकती है। (यहां
            भगवान श्रीकृष्ण ने आत्मा के अजर-अमर और शाश्वत होने की बात की है।) (2) हतो वा प्राप्यसि स्वर्गम्, जित्वा वा भोक्ष्यसे महिम्। तस्मात् उत्तिष्ठ कौन्तेय युद्धाय कृतनिश्चय:॥ (द्वितीय अध्याय, श्लोक 37) इस श्लोक का अर्थ है: यदि तुम (अर्जुन) युद्ध
            में वीरगति को प्राप्त होते हो तो तुम्हें स्वर्ग मिलेगा और यदि विजयी होते हो तो धरती का सुख को भोगोगे... इसलिए उठो, हे कौन्तेय (अर्जुन), और निश्चय करके युद्ध करो। (यहां भगवान श्रीकृष्ण ने वर्तमान कर्म के परिणाम की चर्चा की है, तात्पर्य यह कि
            वर्तमान कर्म से श्रेयस्कर और कुछ नहीं है।) (3) यदा यदा हि धर्मस्य ग्लानिर्भवति भारत:। अभ्युत्थानमधर्मस्य तदात्मानं सृजाम्यहम्॥ (चतुर्थ अध्याय, श्लोक 7) इस श्लोक का अर्थ है: हे भारत (अर्जुन), जब-जब धर्म ग्लानि यानी उसका लोप होता है और अधर्म
            में वृद्धि होती है, तब-तब मैं (श्रीकृष्ण) धर्म के अभ्युत्थान के लिए स्वयम् की रचना करता हूं अर्थात अवतार लेता हूं। (4) परित्राणाय साधूनाम् विनाशाय च दुष्कृताम्। धर्मसंस्थापनार्थाय सम्भवामि युगे-युगे॥ (चतुर्थ अध्याय, श्लोक 8) इस श्लोक का अर्थ
            है: सज्जन पुरुषों के कल्याण के लिए और दुष्कर्मियों के विनाश के लिए... और धर्म की स्थापना के लिए मैं (श्रीकृष्ण) युगों-युगों से प्रत्येक युग में जन्म लेता आया हूं। (5) कर्मण्येवाधिकारस्ते मा फलेषु कदाचन। मा कर्मफलहेतुर्भूर्मा ते सङ्गोऽस्त्वकर्मणि॥
            (द्वितीय अध्याय, श्लोक 47) इस श्लोक का अर्थ है: कर्म पर ही तुम्हारा अधिकार है, लेकिन कर्म के फलों में कभी नहीं... इसलिए कर्म को फल के लिए मत करो और न ही काम करने में तुम्हारी आसक्ति हो। (यह श्रीमद्भवद्गीता के सर्वाधिक महत्वपूर्ण श्लोकों में
            से एक है, जो कर्मयोग दर्शन का मूल आधार है।) (6) ध्यायतो विषयान्पुंसः सङ्गस्तेषूपजायते। सङ्गात्संजायते कामः कामात्क्रोधोऽभिजायते॥ (द्वितीय अध्याय, श्लोक 62) इस श्लोक का अर्थ है: विषयों (वस्तुओं) के बारे में सोचते रहने से मनुष्य को उनसे आसक्ति
            हो जाती है। इससे उनमें कामना यानी इच्छा पैदा होती है और कामनाओं में विघ्न आने से क्रोध की उत्पत्ति होती है। (यहां भगवान श्रीकृष्ण ने विषयासक्ति के दुष्परिणाम के बारे में बताया है।) (7) क्रोधाद्भवति संमोह: संमोहात्स्मृतिविभ्रम:। स्मृतिभ्रंशाद्बुद्धिनाशो
            बुद्धिनाशात्प्रणश्यति॥ (द्वितीय अध्याय, श्लोक 63) इस श्लोक का अर्थ है: क्रोध से मनुष्य की मति मारी जाती है यानी मूढ़ हो जाती है जिससे स्मृति भ्रमित हो जाती है। स्मृति-भ्रम हो जाने से मनुष्य की बुद्धि नष्ट हो जाती है और बुद्धि का नाश हो जाने
            पर मनुष्य खुद अपना ही का नाश कर बैठता है। इस मंदिर में भगवान शिव के दर्शन से पहले नंदी का दर्शन करना है मना, जानिए क्यों (8) यद्यदाचरति श्रेष्ठस्तत्तदेवेतरो जन:। स यत्प्रमाणं कुरुते लोकस्तदनुवर्तते॥ (तृतीय अध्याय, श्लोक 21) इस श्लोक का अर्थ
            है: श्रेष्ठ पुरुष जो-जो आचरण यानी जो-जो काम करते हैं, दूसरे मनुष्य (आम इंसान) भी वैसा ही आचरण, वैसा ही काम करते हैं। वह (श्रेष्ठ पुरुष) जो प्रमाण या उदाहरण प्रस्तुत करता है, समस्त मानव-समुदाय उसी का अनुसरण करने लग जाते हैं। (9) श्रद्धावान्ल्लभते
            ज्ञानं तत्पर: संयतेन्द्रिय:। ज्ञानं लब्ध्वा परां शान्तिमचिरेणाधिगच्छति॥ (चतुर्थ अध्याय, श्लोक 39) इस श्लोक का अर्थ है: श्रद्धा रखने वाले मनुष्य, अपनी इन्द्रियों पर संयम रखने वाले मनुष्य, साधनपारायण हो अपनी तत्परता से ज्ञान प्राप्त कते हैं,
            फिर ज्ञान मिल जाने पर जल्द ही परम-शान्ति (भगवत्प्राप्तिरूप परम शान्ति) को प्राप्त होते हैं। (10) सर्वधर्मान्परित्यज्य मामेकं शरणं व्रज। अहं त्वां सर्वपापेभ्यो मोक्षयिष्यामि मा शुच:॥ (अठारहवां अध्याय, श्लोक 66) इस श्लोक का अर्थ है: (हे अर्जुन)
            सभी धर्मों को त्याग कर अर्थात हर आश्रय को त्याग कर केवल मेरी शरण में आओ, मैं (श्रीकृष्ण) तुम्हें सभी पापों से मुक्ति दिला दूंगा, इसलिए शोक मत करो।
        </p>
    </div>
</body>

</html>