<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/facility_item.css">
    <link rel="stylesheet" href="/css/transition.css">


</head>

<body>
    <div id="layout">
        <div id="this">
            <div id="wallpaper">
                <!--put the place wallpaper in here-->
            </div>
            <div id="container">
                <div id="info">
                    <!--here goes the info about the place-->
                    <div id="row1">
                        <div id="Title">Rinku's Bawarchi</div>
                        <div id="rating">4.3 ☆</div>
                    </div>
                    <div id="row2">
                        <div id="description">
                            <p>Rinku’s bawarchi is a well known fast food joint of haldwani with their speciality being chinese and indo chinese diseases and that too with quite reasonable price.I am writing all this just to fill the details there fried
                                rice were quite good and there mutton momos were just nirvana plus there chowmein looked quite tempting.The only downside is the rush no matter the time of day you visit this place there is always rush</p>
                        </div>
                        <div id="location">
                            <a href="#"><img src="/images/maps.png" alt=""></a>
                        </div>
                    </div>
                    <div id="row3">
                        <form action="#" method="POST">
                            <input type="text" id="review" name="review" placeholder="Write a review">
                            <input type="text" id="rating" name="rating" placeholder="5☆">
                            <button type="submit">Post</button>
                        </form>
                    </div>
                </div>
                <div id="comments">
                    <!--here goes the comments-->
                    <div class="comment">
                        <span class="user"><h2>Puttanpal</h2></span>
                        <div class="rating">
                            <h2>4.3 ☆</h2>
                        </div>
                        <span class="text"><p>Best momos ever and do eat their
                            red chutney it gives you ability to 
                            trow flames in the morning </p></span>

                    </div>
                    <div class="comment">
                        <span class="user"><h2>Puttanpal</h2></span>
                        <span class="rating"><h2>4.3 ☆</h2></span>
                        <span class="text"><p>Best momos ever and do eat their
                            red chutney it gives you ability to 
                            trow flames in the morning </p></span>

                    </div>
                    <div class="comment">
                        <span class="user"><h2>Puttanpal</h2></span>
                        <span class="rating"><h2>4.3 ☆</h2></span>
                        <span class="text"><p>Best momos ever and do eat their
                            red chutney it gives you ability to 
                            trow flames in the morning </p></span>

                    </div>
                    <div class="comment">
                        <span class="user"><h2>Puttanpal</h2></span>
                        <span class="rating"><h2>4.3 ☆</h2></span>
                        <span class="text"><p>Best momos ever and do eat their
                            red chutney it gives you ability to 
                            trow flames in the morning </p></span>

                    </div>
                    <div class="comment">
                        <span class="user"><h2>Puttanpal</h2></span>
                        <span class="rating"><h2>4.3 ☆</h2></span>
                        <span class="text"><p>Best momos ever and do eat their
                            red chutney it gives you ability to 
                            trow flames in the morning </p></span>

                    </div>
                    <div class="comment">
                        <span class="user"><h2>Puttanpal</h2></span>
                        <span class="rating"><h2>4.3 ☆</h2></span>
                        <span class="text"><p>Best momos ever and do eat their
                            red chutney it gives you ability to 
                            trow flames in the morning </p></span>

                    </div>
                </div>
            </div>

        </div>
        <div id="others">
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img class="img-fluid" src="/images/restaurant_example.jpg" alt="">
                </div>
                <div class="details">
                    <div class="Star">
                        <h1>4.3 ☆</h1>
                    </div>
                    <div class="Name">
                        <h2>Deevan Da</h2>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>

</html>