<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Password Change</title>
</head>

<body>
    <% if(error.length>0) { %>
        <div class="alert">
            <h3>
                <%= error %>
            </h3>
        </div>
        <% } %>
        <% if(message.length>0) { %>
            <div class="alert">
                <h3>
                    <%= message %>
                </h3>
            </div>
            <% } %>
            <div id="container">
                <div id="wallpaper">
                    <img src="/images/wallpaper.png" alt="world" id="pic">
                    <% if( error == '') {%>
                        <img src="/images/icon1.png" alt="icon" id="icon">
                        <% } %>
                </div>
                <div id="form">
                    <div id="login" style="margin-left:10vw;">
                        Change Password
                    </div>
                    <form action="/remindPassword" method="POST">
                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        <% if(error.length > 0) {%>
                            <div class="error">
                                <input type="mail" id="email" name="email" placeholder="Your mail">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                            </div>
                            <% } else {%>
                                <div class="input">
                                    <input type="mail" id="email" name="email" placeholder="Your email">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                </div>
                                <% } %>

                                    <button type="submit" id="button">Send mail</button>
                    </form>

                </div>

            </div>
</body>


</html>