<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Policy</title>
    <link rel="stylesheet" href="/css/user-policy.css">
</head>

<body>
    <div id="container">
        <div>
            <h2 style="color:white;text-align:center">Giga Chad</h2>
            <img src="/images/puneeth.png" alt="GigaChad">
            <h2 class="heading">Best Qualities Of A User </h2>
            <div class="trait">
                <h2 class="header">1. He’s Respectful To Everyone.</h2>
                <h4 class="content">One of the most important qualities a man can have is showing respect for others. A perfect man shows respect towards everyone, regardless of whether he knows them or not. Being respectful of women is also a must.</h4>
            </div>
            <div class="trait">
                <h2 class="header">2. He Goes Out Of His Way To Be Kind To Others.</h2>
                <h4 class="content">Kindness is one of the key things in a partnership, and the ideal guy will go out of his way to make sure he spreads joy throughout the world whenever he can. This kind of man won’t want anything in return for his kindness.</h4>
            </div>
            <div class="trait">
                <h2 class="header">3. He’s Close To His Parents.</h2>
                <h4 class="content">Perfect men are usually close to their parents (as long as they’re good people that didn’t cause any childhood trauma) because they understand that they raised them the best that they could and therefore they will want to stay close to
                    them and honor them. </h4>
            </div>
            <div class="trait">
                <h2 class="header">4. He’s Comfortable In His Own Skin.</h2>
                <h4 class="content">Men that are comfortable in their own skin and know themselves will never need to look anywhere else for approval. When someone isn’t comfortable with themselves, they search for approval and therefore come across as needy or damaged men.
                    Instead, men that understand and love themselves can openly love, without being needy. </h4>
            </div>
            <div class="trait">
                <h2 class="header">5. He Has A Positive Attitude.
                </h2>
                <h4 class="content"> Of course, we go through difficult times and our emotions go up and down, but if you’re looking for a good man, you’ll want to make sure that they have an overall positive attitude towards life.</h4>
            </div>
            <div class="trait">
                <h2 class="header">6. He’s Responsible.


                </h2>
                <h4 class="content"> The perfect partner takes responsibility for themselves, the things they do, and the actions they take and doesn’t have to rely on anyone else. Responsibility really is a huge turn on.</h4>
            </div>
            <div class="trait">
                <h2 class="header">7. He’s Grateful.
                </h2>
                <h4 class="content">Someone that’s happy and positive is always grateful for those they have around them. The ideal partner wakes up every day understanding that being alive is a gift and appreciates everything others do for them.</h4>
            </div>
            <div class="trait">
                <h2 class="header">8. He Works Hard To Get What He Wants.</h2>
                <h4 class="content">Hard work, drive, and determination are important qualities in a partner, not only does it show that they take responsibility for themselves and work to get what they want in life, but it also shows that they will be willing to work to
                    make a relationship successful.</h4>
            </div>
            <div class="trait">
                <h2 class="header">9. He’s Surrounded By Nice Friends.</h2>
                <h4 class="content">The friends we surround ourselves with are a direct reflection and representation of who we are, so if a guy is surrounded by kind, caring friends then they will most likely be the same.</h4>
            </div>
            <div class="trait">
                <h2 class="header">10. He’s Good With Children.</h2>
                <h4 class="content">Whether you children in the future or you already have children, it will obviously be important to you that a guy is good with children. However, even if you don’t plan on having children, if someone is good with children it shows they
                    have patience and kindness.</h4>
            </div>
            <div class="trait">
                <h2 class="header">11. He’s Supportive.</h2>
                <h4 class="content">We all need support from time to time, especially when we experience difficult situations, so the perfect guy will be supportive of you. He’ll never tear you down, only lift you up.</h4>
            </div>
            <div class="trait">
                <h2 class="header">12. He’s Never Cheated.</h2>
                <h4 class="content">If you know that someone has never cheated, you know that they are committed to only one person at a time and don’t have unfaithful characteristics, and therefore if you get into a relationship with them you can feel secure. </h4>
            </div>
            <div class="trait">
                <h2 class="header">13. He Doesn’t Lie.</h2>
                <h4 class="content">Someone that’s honest is someone that you want to be in a relationship with because they will never lie to you or hide things from you. Honesty is key to a successful partnership.</h4>
            </div>
        </div>
    </div>
</body>

</html>