#main-body {
    padding: 12px 16px;
    border: 2px solid transparent;
    border-radius: 30xp;
    background-image: url("../images/sports\ \(2\).jpg");
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: fixed;
    width: 100%;
}

body {
    margin: 0;
    overflow-x: auto;
}

body::-webkit-scrollbar {
    display: none
}