<link rel="stylesheet" href="/css/items.css">

<div id="main-container">
    <!--row1-->
    <div class="row">

        <div class="grid-container">
            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <div>


            </div>

        </div>

    </div>
    <!--row2-->
    <div class="row">

        <div class="grid-container">
            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <div>


            </div>

        </div>

    </div>
    <!--row3-->
    <div class="row">

        <div class="grid-container">
            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <div>


            </div>

        </div>

    </div>
    <!--row4-->
    <div class="row">

        <div class="grid-container">
            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <div>


            </div>

        </div>

    </div>
    <!--rpw5-->
    <div class="row">

        <div class="grid-container">
            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <div>


            </div>

        </div>

    </div>
    <!--rpw6-->
    <div class="row" style="margin-bottom: 100px;">

        <div class="grid-container">
            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/item">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                            <div class="profile-name">Tinu Anand</div>
                            <div class="profile-overview">
                                <div class="profile-overview">
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <h3>4.3✰</h3>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <div>


            </div>

        </div>

    </div>
</div>