<link rel="stylesheet" href="/css/side_nav.css">
<html>

<head>

</head>

<body>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="/bar?page=1&row=nan">
                    <i class="fas fa-beer fa-2x"></i>
                    <span class="nav-text">
                            Bar
                        </span>
                </a>

            </li>
            <li>
                <a href="/clubs?page=1&row=nan">
                    <i class="fas fa-users fa-2x"></i>
                    <span class="nav-text">
                            Clubs
                        </span>
                </a>

            </li>
            <li>
                <a href="/dance?page=1&row=nan">
                    <i class="fas fa-radiation-alt fa-2x"></i>
                    <span class="nav-text">
                            Dance Club
                        </span>
                </a>

            </li>
            <li>
                <a href="/amusement?page=1&row=nan">
                    <i class="fas fa-warehouse fa-2x"></i>
                    <span class="nav-text">
                            Amusement Park
                        </span>
                </a>

            </li>
            <li>
                <a href="/banquet?page=1&row=nan">
                    <i class="fas fa-warehouse fa-2x"></i>
                    <span class="nav-text">
                            Banquet Hall
                        </span>
                </a>

            </li>
            <li>
                <a href="/zoo?page=1&row=nan">
                    <i class="fas fa-hippo fa-2x"></i>
                    <span class="nav-text">
                            Zoo
                        </span>
                </a>

            </li>
            <li>
                <a href="/gym?page=1&row=nan">
                    <i class="fas fa-dumbbell"></i>
                    <span class="nav-text">
                            Gym
                        </span>
                </a>

            </li>
            <li>
                <a href="/hospital?page=1&row=nan">
                    <i class="fas fa-hospital-alt fa-2x"></i>
                    <span class="nav-text">
                            Hospital
                        </span>
                </a>

            </li>
            <li>
                <a href="/game?page=1&row=nan">
                    <i class="fas fa-gamepad fa-2x"></i>
                    <span class="nav-text">
                            Game
                        </span>
                </a>

            </li>
            <li>
                <a href="/hotel?page=1&row=nan">
                    <i class="fas fa-hotel fa-2x"></i>
                    <span class="nav-text">
                            Hotel
                        </span>
                </a>

            </li>
            <li>
                <a href="/mall?page=1&row=nan">
                    <i class="fas fa-shopping-basket fa-2x"></i>
                    <span class="nav-text">
                            Mall
                        </span>
                </a>

            </li>
            <li>
                <a href="/multiplex?page=1&row=nan">
                    <i class="fas fa-glasses fa-2x"></i>
                    <span class="nav-text">
                            Multiplex
                        </span>
                </a>

            </li>
            <li>
                <a href="/park?page=1&row=nan">
                    <i class="fas fa-tree fa-2x"></i>
                    <span class="nav-text">
                            Park
                        </span>
                </a>

            </li>
            <li>
                <a href="/restaurants?page=1&row=nan">
                    <i class="fas fa-utensils fa-2x"></i>
                    <span class="nav-text">
                            Restaurant
                        </span>
                </a>

            </li>
            <li>
                <a href="/street_food?page=1&row=nan">
                    <i class="fas fa-utensils fa-2x"></i>
                    <span class="nav-text">
                            Street Food
                        </span>
                </a>

            </li>
            <li>
                <a href="/yoga?page=1&row=nan">
                    <i class="fas fa-heart fa-2x"></i>
                    <span class="nav-text">
                            Yoga
                        </span>
                </a>

            </li>
            <li>
                <a href="/cooking?page=1&row=nan">
                    <i class="fas fa-hamburger fa-2x"></i>
                    <span class="nav-text">
                            Cooking class
                        </span>
                </a>

            </li>
            <li>
                <a href="/logout">

                    <i class="fas fa-power-off fa-2x"></i>
                    <span class="nav-text">
                         Logout
                     </span>
                </a>
            </li>
            <li id="parent">
                <a href="/sports">
                    <i class="fas fa-quidditch fa-2x"></i>
                    <span class="nav-text">
                            Sports
                        </span>
                </a>

                <div class="nav-text" id="child">
                    <ul style="list-style-type: none" id="sports">
                        <li id="sports-text">
                            <a href="/badminton?page=1&row=nan">
                                <i class="fas fa-running fa-1x"></i>
                                <span class="nav-text">
                                    Badminton
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/basketball?page=1&row=nan">
                                <i class="fas fa-basketball-ball fa-1x"></i>
                                <span class="nav-text">
                                    Basketball
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/cricket?page=1&row=nan">
                                <i class="fas fa-baseball-ball fa-1x"></i>
                                <span class="nav-text">
                                    Cricket
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/football?page=1&row=nan">
                                <i class="fas fa-futbol fa-1x"></i>
                                <span class="nav-text">
                                    Football
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/tennis?page=1&row=nan">
                                <i class="fas fa-running fa-1x"></i>
                                <span class="nav-text">
                                    Tennis
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/baseball?page=1&row=nan">
                                <i class="fas fa-baseball-ball fa-1x"></i>
                                <span class="nav-text">
                                    Baseball
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/boxing?page=1&row=nan">
                                <i class="fas fa-running fa-1x"></i>
                                <span class="nav-text">
                                    Boxing
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/golf?page=1&row=nan">
                                <i class="fas fa-golf-ball fa-1x"></i>
                                <span class="nav-text">
                                    Golf
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/hockey?page=1&row=nan">
                                <i class="fas fa-hockey-puck fa-1x"></i>
                                <span class="nav-text">
                                    Hockey
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/karate?page=1&row=nan">
                                <i class="fas fa-running fa-1x"></i>
                                <span class="nav-text">
                                    Karate
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/kick_boxing?page=1&row=nan">
                                <i class="fas fa-running fa-1x"></i>
                                <span class="nav-text">
                                    Kick Boxing
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/rugby?page=1&row=nan">
                                <i class="fas fa-football-ball fa-1x"></i>
                                <span class="nav-text">
                                    Rugby
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/skating?page=1&row=nan">
                                <i class="fas fa-skating fa-1x"></i>
                                <span class="nav-text">
                                    Skating
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/snooker?page=1&row=nan">
                                <i class="fas fa-running fa-1x"></i>
                                <span class="nav-text">
                                    Snooker
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/squash?page=1&row=nan">
                                <i class="fas fa-running fa-1x"></i>
                                <span class="nav-text">
                                    Squash
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/swimming?page=1&row=nan">
                                <i class="fas fa-swimmer fa-1x"></i>
                                <span class="nav-text">
                                    Swimming
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/volleyball?page=1&row=nan">
                                <i class="fas fa-volleyball-ball fa-1x"></i>
                                <span class="nav-text">
                                    Volleyball
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/bowling?page=1&row=nan">
                                <i class="fas fa-bowling-ball fa-1x"></i>
                                <span class="nav-text">
                                    Bowling
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/cycling?page=1&row=nan">
                                <i class="fas fa-biking fa-1x"></i>
                                <span class="nav-text">
                                    Cycling
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/table_tennis?page=1&row=nan">
                                <i class="fas fa-table-tennis fa-1x"></i>
                                <span class="nav-text">
                                    Table Tennis
                                    </span>

                            </a>

                        </li>
                        <li id="sports-text">
                            <a href="/archery?page=1&row=nan">
                                <i class="fas fa-bullseye fa-1x"></i>
                                <span class="nav-text">
                                    Archery
                                    </span>

                            </a>

                        </li>

                    </ul>
                </div>
            </li>








        </ul>
    </nav>
</body>

</html>