<div class="container  topBotomBordersOut">

    <a href="/home">HOME</a>

    <a href="/admin">Your properties</a>
    <a href="/addProperty">Add property</a>
    <a href="/reviews">Reviews</a>
    <a href="/change_password">Account</a>

</div>